# netbeans project files
nbproject
_DOC

# windows thumbnail cache
Thumbs.db

# composer vendor dir
!vendor/
vendor/*
!vendor/cyneek/
# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store