# netbeans project files
nbproject
_DOC

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/web/uploads
# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store